[submodule "l10n_mx_prevent_sign"]
	path = l10n_mx_prevent_sign
	url = git@github.com:xmarts/l10n_mx_prevent_sign.git
	branch = 13.0

[submodule "l10n-mx-xml-invoice"]
	path = l10n-mx-xml-invoice
	url = git@github.com:xmarts/l10n-mx-xml-invoice.git
	branch = 13.0

[submodule "sales_commission_user_partner"]
	path = sales_commission_user_partner
	url = git@github.com:xmarts/sales_commission_user_partner.git
	branch = master

[submodule "ninja_dashboard"]
	path = ninja_dashboard
	url = git@github.com:viernes/ninja_dashboard.git
	branch = V13
[submodule "discount-two-level"]
	path = discount-two-level
	url = git@github.com:victoralonsosoto/discount-two-level.git
[submodule "ruta-gps-task"]
	path = ruta-gps-task
	url = git@github.com:victoralonsosoto/ruta-gps-task.git
[submodule "crm-task"]
	path = crm-task
	url = git@github.com:victoralonsosoto/crm-task.git
[submodule "customer-number"]
	path = customer-number
	url = git@github.com:victoralonsosoto/customer-number.git
[submodule "sales-frequency"]
	path = sales-frequency
	url = git@github.com:victoralonsosoto/sales-frequency.git
[submodule "vat_to_rfc"]
	path = vat_to_rfc
	url = git@github.com:victoralonsosoto/vat_to_rfc.git
[submodule "ruta-gps-contact"]
	path = ruta-gps-contact
	url = git@github.com:victoralonsosoto/ruta-gps-contact.git
[submodule "ruta-gps-crm"]
	path = ruta-gps-crm
	url = git@github.com:victoralonsosoto/ruta-gps-crm.git
[submodule "sh-whatsapp-integration"]
	path = sh-whatsapp-integration
	url = git@github.com:xmarts/sh-whatsapp-integration.git
[submodule "odoo-backend-fb-chat-integration"]
	path = odoo-backend-fb-chat-integration
	url = git@github.com:xmarts/odoo-backend-fb-chat-integration.git
[submodule "web-listview-sticky-header"]
	path = web-listview-sticky-header
	url = git@github.com:victoralonsosoto/web-listview-sticky-header.git
[submodule "time-planner"]
	path = time-planner
	url = git@github.com:victoralonsosoto/time-planner.git
[submodule "last-contact"]
	path = last-contact
	url = git@github.com:victoralonsosoto/last-contact.git
[submodule "historical-sales"]
	path = historical-sales
	url = git@github.com:victoralonsosoto/historical-sales.git
[submodule "las-sale-payment"]
	path = las-sale-payment
	url = git@github.com:victoralonsosoto/las-sale-payment.git
[submodule "general-frecuence-sale"]
	path = general-frecuence-sale
	url = git@github.com:victoralonsosoto/general-frecuence-sale.git

[submodule "bi_drag_drop_multi_attachment"]
	path = bi_drag_drop_multi_attachment
	url = git@github.com:xmarts/bi_drag_drop_multi_attachment.git
	branch = main
[submodule "sales-commission-extend"]
	path = sales-commission-extend
	url = git@github.com:victoralonsosoto/sales-commission-extend.git
[submodule "cancel-sale-order"]
	path = cancel-sale-order
	url = git@github.com:victoralonsosoto/cancel-sale-order.git
[submodule "sale_commission_app"]
	path = sale_commission_app
	url = git@github.com:xmarts/sale_commission_app.git
[submodule "activos-fijos"]
	path = activos-fijos
	url = git@github.com:victoralonsoxmarts/activos-fijos.git
[submodule "extend-maintenance"]
	path = extend-maintenance
	url = git@github.com:victoralonsoxmarts/extend-maintenance.git

[submodule "sistemasrt/fixed_assets"]
	path = sistemasrt/fixed_assets
	url = git@github.com:sistemasrt/fixed_assets.git
	branch = main
[submodule "pdf-importer"]
	path = pdf-importer
	url = git@github.com:sistemasrt/pdf-importer.git

[submodule "bi_material_purchase_requisitions"]
	path = bi_material_purchase_requisitions
	url = git@github.com:sistemasrt/bi_material_purchase_requisitions.git
	branch = main
[submodule "rtc-settings"]
	path = rtc-settings
	url = git@github.com:sistemasrt/rtc-settings.git
[submodule "auto-sales-process"]
	path = auto-sales-process
	url = git@github.com:sistemasrt/auto-sales-process.git

[submodule "prevent_create_new_product_from_order_lines"]
	path = prevent_create_new_product_from_order_lines
	url = git@github.com:sistemasrt/prevent_create_new_product_from_order_lines.git
	branch = main

[submodule "account-financial-reporting"]
	path = account-financial-reporting
	url = git@github.com:OCA/account-financial-reporting.git
	branch = 13.0

[submodule "reporting-engine"]
	path = reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 13.0

[submodule "server-ux"]
	path = server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 13.0
[submodule "front-home-customer"]
	path = front-home-customer
	url = git@github.com:sistemasrt/front-home-customer.git

[submodule "default_mx_values"]
	path = default_mx_values
	url = git@github.com:sistemasrt/default_mx_values.git
	branch = main

[submodule "default_mx_values1"]
	path = default_mx_values1
	url = git@github.com:sistemasrt/default_mx_values.git
	branch = main
